:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(219, 5, 5, 0.87);
  background-color: #18a4c4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color: #f60606;
  text-decoration: inherit;
}
a:hover {
  color: #2cf040;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b0b4bb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0f0f0f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #d4dbe1;
    background-color: #ffffff;
  }
  a:hover {
    color: #6970ef;
  }
  button {
    background-color: #71bcf1;
  }
}
